body { 

    font-family: Arial, sans-serif; 

    display: flex; 

    justify-content: center; 

    align-items: center; 

    height: 120vh; 

    margin: 0; 

    background-color: #f0f0f0; 

} 

 

.profile-card { 

    background-color: rgb(77, 40, 163); 

    border-radius: 20px; 

    box-shadow: 0 4px 8px rgba(99, 47, 47, 0.1); 

    text-align: center; 

    padding: 20px; 

    width: 300px; 

} 

 

.profile-image { 

    border-radius: 50%; 

    width: 110px; 

    height: 110px; 

    object-fit: cover; 

    margin-bottom: 15px; 

} 

 

.profile-name { 

    font-size: 24px; 

    color: rgb(5, 5, 5); 

    margin: 0; 

} 

 

.profile-bio { 

    font-size: 14px; 

    color: rgb(209, 209, 209); 

    margin-top: 10px; 

} 