.quad-1 {
    width: 100px;
    height: 100px;
    background-color: blue;
    display:inline-block;
}
.quad-2 {
    width: 100px;
    height: 100px;
    background-color: crimson;
    
}
.quad-3 {
    width: 100px;
    height: 100px;
    background-color: rgb(20, 220, 120);
    display:inline-block;
}
.container {
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction:column ;
}